body{
    margin: auto;
    width: 960px;
    background-color: lightgrey;
    padding-bottom: 100px;
}

h1 {
    display: inline;
    font-family: "Andale Mono", monospace; 
    font-size: 75px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 700; 
    line-height: 26.4px;
}

hr {
    width: 960px;
}

.homeButton{
    display:inline-block;
    font-family: "Andale Mono", monospace; 
    font-size: 30px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 100; 
    line-height: 26.4px;
    width: 465px;
    height: 130px;
    margin: 10px;
    border-radius: 3px;
}

#startDigging, #digRecordsMenuButton{
    background-color: #BEC153;
}

#fillCrates, #addRecordMenuButton {
    background-color: #5CC995;
}

#manageCollection, #collectionMenuButton{
    background-color: #6764D0;
}

#homeMenuButton {
    background-color: #C87166
}

.recordLogo {
    padding-left: 5px;
    height: 50px;
}

.titleContainer{
    margin-top: 30px;
    width: 960px;
    display: inline-block;
}

.optionContainer{
    background-color:	#A0A0A0;
    border-radius: 5px;
    margin-top: 20px;
    height: 150px;
    width: 960px;
}

.homeTextContainer{
    display: inline-block;
    background-color: lightgray;
    height: 130px;
    width: 465px;
    position: absolute;
    margin-top: 10px;
    border-radius: 3px;
}

.homeText{
    font-family: "Andale Mono", monospace; 
    font-size: 25px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 100; 
    line-height: 26.4px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 13px;
    text-align: center;
}

.homeForm{
    display:inline-block;
}

.menuForm {
    display: inline-block;
    margin-top: 22px;
    float: right; 
}

.menuButton{
    height: 30px;
    margin-left: 5px;
    width: 105px;
    font-family: "Andale Mono", monospace; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 100; 
}



/*-----------------------------------------------------------*/


.formContainer {
    background-color:	#A0A0A0;
    border-radius: 5px;
    margin-top: 20px;
    overflow:hidden;
    width: 960px;
}

.addRecordInput {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  .addRecordLabel {
    padding: 9px 9px 9px 0;
    display: inline-block;
    font-family: "Andale Mono", monospace; 
    font-size: 18px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 100; 
    
  }
  
  .submitRecord {
    background-color: #5CC995;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width: 940px;
    margin: 10px;
    font-family: "Andale Mono", monospace; 
    font-size: 18px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 100; 
    line-height: 26.4px;
  }
  
  .col-25 {
    padding-left: 10px;
    float: left;
    width: 230px;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 690px;
    margin-top: 6px;
  }

  .trackButton{
    height: 35px;
    width: 35px;
    border-radius: 3px;
    font-family: "Andale Mono", monospace; 
    font-size: 25px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 100; 
    line-height: 26.4px;
  }