figure {
  grid-column: span 4;
}

figure > img {
  width: 100%;
  heigth: 100%;
  object-fit: cover;
}

/*
Dit betekend: tot welke breedte houden we ons aan een bepaalde regel. Bijvoorbeeld
de breedte van een pc scherm, of de breedte van een iphone scherm. Maar ook als je het
venster zelf kleiner maakt.
*/
@media (max-width: 800px) {
  figure {
    grid-column: span 6;
  }
}

@media (max-width: 400px) {
  figure {
    grid-column: span 12;
  }
}
