.messageContainer1 {
    background-color:	#A0A0A0;
    border-radius: 5px;
    margin-top: 20px;
    overflow:hidden;
    width: 960px;
}

.messageContainer2 {
    background-color:	lightgrey;
    border-radius: 5px;
    margin: 10px;
    overflow:hidden;
    width: 940px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.containerMessage{
    display: inline-block;
    padding-left: 10px;
    font-family: "Andale Mono", monospace; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 100; 
}