Select{
    width: 200px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    font-family: "Andale Mono", monospace; 
    font-size: 12px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 100; 
}

.searchInput {
    width: 594px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.searchButton {
    background-color: #BEC153;
    padding: 7.5px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    width: 100px;
    margin: 10px;
    font-family: "Andale Mono", monospace; 
    font-size: 18px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 100; 
    line-height: 26.4px;
}

.formContainer {
    background-color:	#A0A0A0;
    border-radius: 5px;
    margin-top: 20px;
    overflow:hidden;
    width: 960px;
}

.resultContainer {
    background-color:	lightgrey;
    border-radius: 5px;
    margin: 10px;
    overflow:hidden;
    width: 940px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.resultContainerMessage{
    display: inline-block;
    padding-left: 10px;
    font-family: "Andale Mono", monospace; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 100; 
}


.col-15 {
    padding-left: 10px;
    float: left;
    width: 150px;
    margin-top: 6px;
  }
  
  .col-85 {
    float: left;
    width: 540px;
    margin-top: 6px;
  }

  .selectButtonForm{
    width: 150px;
    display: inline-block;
  }

  
  .selectRecord{
    width: 145;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: #BEC153;
    height: 95px;
    float: right;
    font-family: "Andale Mono", monospace; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 100;   
  }

  .selectArtist, .selectLabel {
    width: 145;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: #BEC153;
    height: 26px;
    float: right;
    font-family: "Andale Mono", monospace; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 100;  
  }

  .selectTrack {
    width: 145;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    background-color: #BEC153;
    height: 69px;
    float: right;
    font-family: "Andale Mono", monospace; 
    font-size: 14px; 
    font-style: normal; 
    font-variant: normal; 
    font-weight: 100;   
  }

  .resultRowsContainer {
      width: 780px;
      display: inline-block;
  }
